<h1>#noalvotoelectronico</h1>

<div>
    Hola {{user.email}} 
    <p>Desde aqui podrás votar por los proyectos candidatos del último proceso de votación activo</p>
</div>
<div *ngIf="activeProcess">
        <p>Trimestre {{activeProcess.quarter}}</p>
        <p>Budget total {{activeProcess.total_budget}}</p>
        <p *ngIf="user.is_admin"><button [disabled]="loading" (click)="closeProcess()" class="btn btn-primary">Cerrar proceso de votación</button></p>
</div>
<hr>

<div *ngIf="!activeProcess">No hay un proceso de votación abierto</div>
<section *ngIf="activeProcess">
<div cdkDropList (cdkDropListDropped)='drop($event)'>
<div *ngFor="let project of projects" style="
    height: 50px;
    border: 1px solid gray;
    background-color: white;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;" cdkDrag> {{project.name}} | {{project.value}}</div>
</div>
<div class="form-group" 
style="padding: 10px; 
display: flex;
justify-content: center;
align-items: center;">
<button [disabled]="loading" (click)="vote()" class="btn btn-primary">Enviar voto</button>
    
  
    <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</div>
<div *ngIf="message" class="alert alert-warning">{{message}}</div>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
</section>
