<h1>#noalvotoeletronico</h1>
<p>...pero igual hacemos el app porque da gusto</p>
<div>
    Hola {{user.email}}
    <p>Desde aqui podrás votar por los proyectos candidatos del último proceso de votación activo</p>
</div>
<div *ngIf="activeProcess">
        <p>Trimestre {{activeProcess.quarter}}</p>
        <p>Budget total {{activeProcess.total_budget}}</p>
</div>
<hr>
<div *ngIf="!activeProcess">No hay un proceso abierto</div>

<ul>
        <li *ngFor="let project of projects">
            {{project.name}} | {{project.value}}
        </li>
</ul>